.input-wrapper {
    position: relative; 
    width: 100%;
    max-width: 30%;
    border-radius: 0.75rem;
    height: 100%;
    max-height: 4rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
}

#search-icon {
    color: #1976d2; 
    font-size: 1.25rem;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    height: 100%;
    margin-left: 0.625rem;
    font-size: 1rem; 
    background-color: transparent;
    border-radius: 0.75rem;
    padding-left: 1rem;
}

.input-wrapper:hover {
    cursor: text;
    border: 1px solid blue; 
}

.clear-icon {
    cursor: pointer;
    color: gray;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.search-input::placeholder {
    color: #aaa;
}

.search-results {
    position: absolute;
    top: 3.5rem; 
    left: 0;
    width: 100%;
    max-height: 12rem;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.15);
    z-index: 10;
    transition: all 0.2s ease-in-out;
    margin-top: 0.5rem;
}

.result-item {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 0.95rem;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item:hover {
    background-color: #f5f5f5;
}
