.home-page-container {
  display: grid;
  grid-template-areas:
    "header header"
    "side-nav search"
    "footer footer";
  grid-template-columns: minmax(150px, 20%) 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.header-container {
  grid-area: header;
  background: #f5f5f5;
}

.search-bar-container {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;    
  padding: 1rem;
  width: 100%;
}

.side-nav-container {
  grid-area: side-nav;
  background: #eaeaea;
}

.footer-container {
  grid-area: footer;
  background: #f5f5f5;
}
